main {
    display: flex;
    justify-content: space-around;
}

.dropdown {
    display: inline-block;
}

.dropdown-items a {
    display: block;
}

.dropdown-items > a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: x-large;
    padding-left: 10px;
}

.dropdown-items {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 300px;
}

.dropdown-btn {
    background-color: black;
    color: antiquewhite;
    font-size: xx-large;
    width: 300px;
}

.dropdown:hover .dropdown-items {display: block;}
.dropdown:hover .dropdown-btn {background-color: darkgray;}
.dropdown-items a:hover {background-color: darkgray;}

.cantrips, .spells{
    border: solid black 5px;
    height: fit-content;
    width: 300px;
    padding: 16px;
}