:root {
    --main-bg-color: #071108;
    --charcoal: #364652;
    --tealish: #28AFB0;
    --peach-yellow: #FFE1A8;
    --redish: #E26D5C;
    --white: #F5F5F5;
    --purple-ish: #9C7A97;
}

body {
    background-color: var(--main-bg-color);
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.general {
    display: flex;
    flex-direction: column;
    width: 95vw;
    gap: 8px;
}

.general > div {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    border: solid var(--charcoal) 2px;
    align-items: center;
    background-color: var(--peach-yellow);
    color: var(--main-bg-color);
}

.attributes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
}

.attribute {
    border: solid var(--peach-yellow) 5px;
    min-width: fit-content;
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 20%;
}

.val,
.mod {
    text-align: center;
}

.mod {
    border: solid var(--tealish) 5px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: relative;
    top: 35px;
    margin: 0;
}

.val {
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 20px;
}

.dropdown {
    display: inline-block;
}

.dropdown-items a {
    display: block;
}

.dropdown-items > a {
    text-decoration: none;
    background-color: var(--main-bg-color);
    font-size: x-large;
    padding-left: 10px;
    color: var(--tealish);
    border: solid var(--charcoal) 2px;
}

.dropdown-items {
    display: none;
    position: absolute;
    z-index: 1;
    width: 95vw;
}

.dropdown-btn {
    background-color: var(--main-bg-color);
    color: var(--tealish);
    font-size: xx-large;
    width: 95vw;
}

.dropdown:hover .dropdown-btn {
    background-color: var(--charcoal);
}

.dropdown-items a:hover {
    background-color: var(--charcoal);
}


.cantrips,
.spells {
    border: solid var(--tealish) 5px;
    background-color: var(--main-bg-color);
    height: fit-content;
    width: 95vw;
}

.spell-display {
    margin: 16px;
    display: none;
}

button {
    touch-action: none;
}

.inventory-container,
.inventory-header {
    background-color: var(--purple-ish);
    border: solid var(--charcoal) 2px;
    width: 95vw;
    display: flex;
}

.inventory-header {
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: disclosure-closed;
    font-size: x-large;
    padding: 8px 0px;
}

.inventory-container {
    justify-content: space-between;
}

.inventory-container > h2 {
    border: solid var(--peach-yellow) 5px;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin-right: 20px;
    color: var(--peach-yellow);
}

.show {
    display: block;
}

#health-header {
    background-color: var(--redish);
    border: 2px solid var(--charcoal);
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.max-hp {
    position: absolute;
    right: 10px;
    top: 30px;
}

#health-container {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 150px;
    color: var(--main-bg-color);
    border-bottom: 10px double var(--redish);
}

#hp-left,
#hp-right {
    display: flex;
    align-items: center;
    gap: 8px;
}

#current-hp-container,
#temp-hp-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#heart-icon,
#shield-icon {
    width: 30vw;
    position: relative;
}

#heart-icon {
    fill: var(--redish);
}

#shield-icon {
    fill: var(--peach-yellow);
}

.hp,
.temp-hp {
    position: absolute;
}

.increment {
    display: block;
    font-size: xx-large;
    width: 40px;
    height: 40px;
}

.increment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.up,
.down {
    background-color: var(--redish);
}

.temp-up,
.temp-down {
    background-color: var(--peach-yellow);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--purple-ish);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--purple-ish);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#skills-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#skills-container > div {
    background-color: var(--peach-yellow);
    border: 2px solid var(--charcoal);
    width: 95vw;
    color: var(--main-bg-color);
}

#inspiration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.unchecked {
    opacity: 25%;
}

#proficiency {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#proficiency-bonus {
    border: 5px solid var(--tealish);
    border-radius: 50%;
    padding: 10px;
}

#saving-throws {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saving-throws > h1 {
    border-bottom: 10px double var(--charcoal);
}